@page
@model RazorRentCarDemo_NetCore.Pages.Rent.IndexModel

@{
    ViewData["Title"] = "Rezervasyon";
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                Müşteri Adı
            </th>
            <th>
                Başlangıç
            </th>
            <th>
                Bitiş
            </th>
            <th>
                Toplam Ücret
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rezervation)
        {
            <tr>
                <td>
                     @item.CustomerName
                </td>
                <td>
                    @item.Start
                </td>
                <td>
                    @item.End
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@


<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                UnitPrice
            </th>
            <th class="text-center">
                Avaliable
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.UnitPrace
                </td>
                <td class="text-center">
                    @if (item.Avaliable)
                    {
                        <a asp-page="./Create" asp-route-id="@item.Id" class="btn btn-outline-primary">GO!</a> 
                    

                    }
                    else
                    {
                        <p>REZERVED</p>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>